body {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

#hader {
    font-size: 80px;
}

.align1 {
    text-align: center;
    color: white;
    padding-bottom: 30px;
}

p {
    font-size: 20px;
}

.background-img1 {
    padding: 200px;
    background: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}

.link-button {
    text-decoration: none;
    font-size: 30px;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 50px;
    color: white;
    border-radius: 10px;

}

.hader2 {
    font-size: 50px;
    padding-top: 70px;
}

.align2 {
    text-align: center;

}

.display {
    display: flex;
    text-align: center;

}

.tk {
    padding: 20px;
    font-size: 40px;
    margin: 20px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(243, 238, 238, 0.764);
    border-radius: 7px;
}

#tk-border {
    border: 2px solid tomato;
    background-color: rgba(201, 92, 73, 0.216);
    border-radius: 7px;
}

.para {
    padding-bottom: 30px;
}

.input-1 {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    padding-left: 600px;
    padding-top: 100px;
    font-size: 30px;
}

hr {
    width: 50%;
}

.hr {
    padding-bottom: 50px;
}

.align3 {
    text-align: center;
}

.div-class {
    width: 30%;
    margin: 2%;
    padding: 20px;
    text-align: left;
}

.display {
    display: flex;
}

#b-col-1 {
    background-color: rgb(184, 227, 227);
}

#b-col-2 {
    background-color: rgb(193, 193, 219);
}

#b-col-3 {
    background-color: rgba(217, 187, 182, 0.804);
}

.form {

    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-color: rgb(251, 217, 213);
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 100px;
}

input[type="email"] {
    font-size: 15px;
    padding-left: 20px;
    height: 40px;
    width: 250px;
    border-radius: 5px 0px 0px 5px;
    border: none;
    outline: none;
    background-color: rgb(188, 176, 176);
}

input[type="submit"] {
    font-size: 15px;
    height: 41px;
    width: 150px;
    border: none;
    outline: none;
    border-radius: 0px 5px 5px 0px;
    background-color: red;
    color: white;
    position: relative;
    left: -5px;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
}

.h2 {
    font-size: 40px;
    font-style: italic;
    color: tomato;
}

.Importance-Of-Donation {
    width: 40%;
    height: 40%;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
}

.Importance-Of-Donation img {
    width: 75%;

}

.h1 {
    font-size: 40px;
}

.p {
    text-align: center;
    text-align: justify;
    padding-bottom: 30px;
}